header {
  display: flex;
  justify-content: space-between;
  padding: 1% 0;
}

.logo {
  display: flex; 
}

.logo a {
  display: flex;
  align-items: center;
}


.logo h1 {
  color: var(--secondary-color, #373737);
  margin: 16px 0 0 12px;
}

.logo img {
  width: 40px;
}

.search-bar {
  align-items: center;
  display: flex;
}

input[type="text"] {
  border: solid 1px #979797;
  font-size: 14px;
  height: 38px;
  width: 348px;
}

.search-bar button {
  background-color: #979797;
  border: none;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  height: 42px;
  transition: .1s;
  width: 62px;
}

.search-bar button:hover {
  background-color: var(--secondary-color);
}

.menu {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 11%;
}

.menu img[alt="subir vídeo"]:hover {
  content: url("../images/upload-fill.svg");
}

.menu img[alt="aplicativos"]:hover {
  content: url("../images/apps-fill.svg");
}

.menu img[alt="notificações"]:hover {
  content: url("../images/notifications-fill.svg");
}

.show-on-mobile {
  display: none;
}














