@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

html {
  font-size: 62.5%;
}

body {
  background-color: #FEFCFF;
  color: var(--secondary-color);
  column-gap: 45px;
  display: grid;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  grid: 
  "header header" 0.13fr
  "main advertising" 0.2fr
  "main related" auto
  / 0.55fr auto;
  margin: 0 auto;
  max-width: 1440px;
  
}

header {
  grid-area: header;
  max-width: 1318px;
}

.main {
  grid-area: main;
  height: 728px;
}

.advertising {
  grid-area: advertising;
  height: 119px;
  width: 563px;
}

.related {
  grid-area: related;
  height: 566px;
  width: 563px;
}


